[ESSAY]

ESSAY_ESSAYID    : T01
ESSAY_CONFIGID   : C2
ESSAY_SCENARIO   : Essay T01, Config C2 - Testing multiple macro regions
ESSAY_LABEL      : Surveillance data for C2 (Testing multiple macro regions)
ESSAY_RUNS       : 1

[PROBLEM]

PARAM_SOURCEPATH : [getMountedOn(), 'Task Stage', 'Task - covidsims', 'covidsims', 'datasets']
PARAM_TARGETPATH : [getMountedOn(), 'Task Stage', 'Task - covidsims', 'covidsims', 'results']
PARAM_DATAFILE   : test_dataset_C2.csv
PARAM_DATAFIELDS  : ['regiao', 'estado', 'municipio', 'data', 'casosNovos', 'obitosNovos']
#PARAM_TERRITORY  : ['Sudeste, SP, City1']
#PARAM_TERRITORY  : ['Sudeste, SP, *']
#PARAM_TERRITORY  : ['Sudeste, *, *']
#PARAM_TERRITORY  : ['Norte, *, *']
PARAM_TERRITORY  : ['*, *, *']
PARAM_POPSIZES   : {'Sudeste, SP, City1': 150000, 'Sudeste, SP, City2': 150000, 'Sudeste, RJ, City1': 150000, 'Sudeste, RJ, City2': 150000, 'Sudeste, MG, City1': 150000, 'Sudeste, MG, City2': 150000, 'Norte, AM, City1': 150000, 'Norte, AM, City2': 150000, 'Norte, PA, City1': 150000, 'Norte, PA, City2': 150000, 'Norte, RR, City1': 150000, 'Norte, RR, City2': 150000}
PARAM_OUTCOMES   : [(0.81, 14), (0.14, 28), (0.05, 42)]
PARAM_MA_WINDOW  : 0
PARAM_CORE_MODEL  : Peddireddy
PARAM_MASK_ERRORS : False
